$bg-color1: #222831;
$bg-color2: #d6d7da;
$primary-color: beige;
$second-color: #a7d129;
$icon-size: 32px;

.main-page {
    display: flex;
    justify-content: center;
    background-color: $bg-color1;
    height: 100vh;
    color: $primary-color;
}

.beige {
    color: $primary-color;
    text-align: center;
}
.link {
    color: $second-color;
    &:hover {
        color: $primary-color;
        border-color:  $second-color;
    }
}
.button1 {
    border-style: none;
    display: block;
    color: $second-color;
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover {
        background-color: #f5f5dc15;
        color: $primary-color;
        border-radius: 8px;
    }
}
.button2 {
    background-color: #f5f5dc15;
    border-top: 1px $primary-color solid;
    display: block;
    color: $primary-color;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 20px;
    &:hover {
        color: $second-color;
    }
    &:hover span {
        display: none;
    }
    &:hover::before {
        letter-spacing: 0px;
        content: "check my resume!";
    }
}
.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
}

.card {
    text-align: center; 
    width: 350;
    background-color: #393e46; 
    border-radius: 50px 50px 0 0; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.avatar {
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
}
.icon {
    font-size: $icon-size;
}
.margintop {
    margin-top: 15px;
}
.status {
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 8px 0;
    display: block;
    border-bottom: 1px $primary-color solid;
    border-top: 1px $primary-color solid;
    color: $second-color;
}